<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table. ✅
    }

    @foreach (var job in ViewBag.jobs)
    {
        <table class="short-listing">
            <tr>
                <td>ID </td>
                <td>@job.Id</td>
            </tr>
            <tr>
                <td>Name </td>
                <td>Name @job.Name</td>
            </tr>
            <tr>
                <td>Employer </td>
                <td>Employer @job.Employer</td>
            </tr>
            <tr>
                <td>Location </td>
                <td>Location @job.Location</td>
            </tr>
            <tr>
                <td>Position Type </td>
                <td>Position Type @job.PositionType</td>
            </tr>
            <tr>
                <td>Skill </td>
                <td>Skill @job.CoreCompetency</td>
            </tr>
        </table><br>
    }

</div>